body{
    font-family: 'Merriweather', serif;
}
header{
    background-image: url("../img/pattern.png");
    background-color: rgb(139, 178, 249);
    background-size: auto 200%;
    background-position: top left;
    
}
.title{
    font-size: 40px;
    margin: auto;
}

#logo{
    width: 350px;   
}
#booleaner{
    color: rgb(57, 178, 243);
    text-decoration: none;
}
.subtitle{
    color: rgb(93, 96, 97);
}

table {
    width: 100%;
    border-collapse:collapse;
    text-align: left;
}
.table-header{
    background-color: rgb(84, 175, 245);
    color: rgba(250, 252, 253, 0.944);
}
.blue{
    background-color: rgb(172, 218, 235);
}
.highlight{
   background-color: rgb(227, 217, 104);
}
.graph{
    background-image: url("../img/graph.jpg");
    width: 311px;
    height: 207px;
    color: white;
    text-align: center;
}
.monitor{
    background-image: url("../img/monitor.jpg");
    width: 311px;
    height: 207px;
    color: white;
    text-align: center;
}
